html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: blueviolet;
  height: 60px; }

#container {
  min-height: 100%;
  position: relative;
  height: 100%; }
