@import url("https://fonts.googleapis.com/css?family=Cambay:400,700&display=swap");
.MuiInputAdornment-root .MuiIconButton-label .MuiSvgIcon-root {
  fill: white; }

.MuiFormControl-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #ffa7c4; }

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #282c35; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
  position: relative;
  font-family: 'Cambay', sans-serif;
  font-size: 16px;
  color: #ffa7c4; }

body h1 {
  font-size: 45px; }

body a {
  text-decoration: none;
  color: inherit; }

#root {
  min-height: 100%;
  padding-bottom: 60px; }

footer.footer {
  width: 100%;
  background-color: #282c35;
  border-top: 1px solid #ffa7c4;
  position: absolute;
  bottom: 0;
  height: 60px;
  text-align: center;
  vertical-align: center;
  line-height: 60px;
  font-weight: bold; }

.navbarRoot {
  flex-grow: 1; }

.navbarRoot .navBar .MuiTypography-h6 {
  padding-top: 6px; }

.landingPage h1 {
  text-align: center; }

.landingPage p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.88);
  text-align: center; }

.landingPage .registerBtns {
  margin-top: 50px;
  display: flex;
  justify-content: center; }

.landingPage .registerBtns a:nth-child(2) {
  margin-left: 10px; }

.landingPage .image {
  width: 400px;
  margin: 0 auto; }

h1 {
  text-align: center; }

.loginRegister h1 {
  text-align: center; }

.loginRegister .form {
  margin: 0 auto;
  width: 25%; }

.loginRegister .form form {
  display: flex;
  flex-direction: column; }

.loginRegister .form form .MuiFormControl-root:not(:first-child) {
  margin-top: 30px; }

.loginRegister .form form .submitBtn {
  margin-top: 40px; }

.flex {
  display: flex; }

.flex.spaceBetween {
  justify-content: space-between; }

.flex.flexGrow {
  flex-grow: 1; }

.Loader {
  display: flex;
  justify-content: center; }

.errorPage p {
  text-align: center;
  font-size: 30px; }
