@import "variables";

@import "material";

@import url('https://fonts.googleapis.com/css?family=Cambay:400,700&display=swap');

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $bg_Color;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
  position: relative;
  font-family: 'Cambay', sans-serif;
  font-size: 16px;
  color: $primary_color;

  h1 {
    font-size: 45px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

#root {
  min-height: 100%;
  padding-bottom: $footer_height; //because of react div element
}

footer {
  &.footer {
    width: 100%;
    background-color: $bg_Color;
    border-top: 1px solid $primary_color;
    position: absolute;
    bottom: 0;
    height: $footer_height;
    text-align: center;
    vertical-align: center;
    line-height: $footer_height;
    font-weight: bold;
  }
}

.navbarRoot {
  flex-grow: 1;

  .navBar {
    .MuiTypography-h6 {
      padding-top: 6px;
    }
  }
}

.landingPage {
  h1 {
    text-align: center;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: $tertiary_color;
    text-align: center;
  }

  .registerBtns {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    a:nth-child(2) {
      margin-left: 10px;
    }
  }
  .image {
    width: 400px;
    margin: 0 auto;
  }
}
h1 {
  text-align: center;
}
.loginRegister {
  h1 {
    text-align: center;
  }
  .form {
    margin: 0 auto;
    width: 25%;
    form {
      display: flex;
      flex-direction: column;
      .MuiFormControl-root {
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
      .submitBtn {
        margin-top: 40px;
      }
    }
  }
}

.flex {
  display: flex;

  &.spaceBetween {
    justify-content: space-between;
  }

  &.flexGrow {
    flex-grow: 1;
  }
}

.Loader {
  display: flex;
  justify-content: center;
}