$footer_height:60px;
$header_height:64px;

html,
body,#root {
  margin:0;
  padding:0;
  height:100%;
}

footer {
  &.footer {
    width: 100%;
    background-color: blueviolet;
    height:$footer_height;
    text-align: center;
    vertical-align: center;
    line-height: $footer_height;
    color: white;
  }
}

#container {
  min-height:100%;
  position:relative;
  height: 100%;
}

.body_Header_Footer {
  height:calc(100% - #{$header_height} - #{$footer_height});
}